@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
body{
    margin: 0%;
}
.hero-page{
    width: 100vw;
    height: 100vh;
    background-position: center;
    overflow: hidden;
    background-image: linear-gradient( rgba(255,0,181,1) 0%, rgb(42, 42, 102) 59%,rgba(0, 0, 0) 100%);
    background-size: cover;
    font-family: 'Poppins';
}
.nav{
    /*background-color: aqua;*/
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 0%;
    font-family: 'Poppins';
    color: #000;
}
.nav-logo{
    display : block ;
    align-items : center ;
    justify-content : center ;
    text-decoration : none ;
    width: 200px;
    color : rgb(0, 0, 0) ;
}
.nav_tittle{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav_options a:hover{
    color : rgb(255, 254, 254) ;
    outline-offset: 4px;
}
.nav_options a{
    display : inline-flex ;
    align-items : center ;
    font-family: 'Poppins';
    display : inline-flex ;
    justify-content: space-around;
    text-decoration: solid ;
    font-size : 26px ;
    color : rgb(0, 0, 0) ;
}

/*---- Social Media ----*/
.icons{
    display : flex ;
    column-gap : 25px ;
 }
 .icon{
    width : 30px ;
    height : 30px ;
    display : inline-flex ;
    align-items : center ;
    justify-content : center ;
    text-decoration : none ;
    font-size : 26px ;
    color : rgb(5, 5, 5) ;
    border-radius : 50% ;
    outline: 2px solid rgb(0, 1, 51) ;
    transition-property: outline-offset, outline-color , background-color ;
    transition-duration: .25s ;
  }
 .icon:hover {
     outline-offset: 4px;
 }
 .icon:hover {
     animation: shake .25s;
 }
 
 .icon--instagram:hover {
     background-image : radial-gradient(circle at 30% 107%,#fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
     outline-color : #a02d76 ;
 }
 .icon--twitter:hover {
     background-color: #1da1f2 ;
      outline-color: #1da1f2 ;
  }
 .icon--linkedin:hover{
     background-color: #0077b5 ;
      outline-color : #0077b5 ;
  }
  .icon--github:hover {
     background-color: #2ea44f ;
     outline-color: #2ea44f ;
  }
  @keyframes shake {
     10% { transform : rotate ( 15deg ) ; }
     20% { transform : rotate ( -15deg ) ; }
     30% { transform : rotate ( 15deg ) ; }
     40% { transform : rotate ( -15deg ) ; }
  }
.landing-txt{
    display: list-item;
    align-items: center;
    justify-content: center;
}
.landing-txt h3{
    margin-bottom: 0%;
    text-align: center;
    font-size: 100px;
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(92, 0, 66));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.landing-txt p{
    margin-inline: 15%;
    margin-top: 0%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 25px;
    background: rgb(0, 0, 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.landing-txt .button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,rgba(0, 0, 0) 0%, rgb(42, 42, 102) 59%,rgba(255,0,181,1) 100%);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: auto; 
}


.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(10, 11, 83);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}